*{
    margin: 0;
    padding: 0;
}

.areaImage{
    background-image: url('../img/jogosv.jpeg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
  
}

.menui .menu{
    background-color: rgb(134, 122, 122);
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
 }


img{
    border: 1px solid rgb(176, 180, 179);
}
.conteudo{
    margin-top: 20px;
    margin-left: 30%;
    width: 50%;
    height: 100%;
}
h1{
 color: rgb(49, 49, 49);
 font-family: 'Arial'; 
 
}

div.box {
    width: 150px;
    height: 100;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 0%;
    margin: 1%;
    
}

span{
    text-transform: uppercase;
    display: inline-flex;
    padding: 0;
   
    
}
a:link{
   text-decoration: solid;
   color:rgb(47, 47, 47);;
}
a:hover{
    text-decoration: solid;
    color:rgb(30, 34, 236);;
 }

#imageCont{
    width: 100%;
    height: 90%;    

}

.rodape{
    width: 100%;
    height: 100px;
    background-color:brown;
    font-family: 'Arial'; 
}


 #bt_menu:checked ~ .menu{
     margin-left: 0;
 }

.menu ul{
     list-style: none;
     position: relative;
    
  }

.menu ul li{
     width: 150px;
     float: left;
 }

.menu a{
        padding: 15px;
        display: block;
        text-decoration: none;
        text-align: center;
        background-color:  rgb(134, 122, 122);
        color: white;
 }

 .menu ul ul{
     position: absolute;
     visibility: hidden;
 }
 .menu ul li:hover ul{
     visibility: visible;
 }
 .menu a:hover{
     background-color: rgb(173, 166, 166);
 }
 .menu ul ul li{
     float: none;
     background-color: rgb(143, 142, 142);
 }
 .menu ul ul li a{
     background-color: rgb(143, 142, 142);
}
label[for="bt_menu"]{
    padding: 5px;
    background-color:  rgb(134, 122, 122);
    color:white;
    font-family: 'Arial';
    text-align: center; 
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
}

#bt_menu{   
    display: none;
}   
label[for="bt_menu"]{
    display: none;
}


@media(max-width: 800px){

    .areaImage{
        background-image: url('../img/olimpc.png');
        background-size: 100%;
        width: 100%;
        height: 200px;
    }
    label[for="bt_menu"]{
        display: block;
        background-color:rgb(70, 69, 69);
    }

    .menu{
        margin-top: 100px;
        margin-left: -120%;
        margin-right: 20%;
        transition: all .4s;
     }
    
    #bt_menu{
        margin-left: 0;
    }
    .menui{
        width: 100vw;
        height: 45vh;
        background-color: rgb(134, 122, 122);
      
    }
    .menu ul li{
    width: 100%;
    float: none;
     }
     .menu ul ul{
          position: static;
          overflow: hidden;
          max-height: 0;
          transition: all .4s;
     }
     .menu ul li:hover ul{
         height: auto;
         max-height: 200px;

     }
     .areaImage {
    background-image: url('../img/jogosv.jpeg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0xp;
     }
     #imageCont{
        width: 130%;
        height: 60vh;
        margin-left: -15%;
    }
       
    .modalidadesdeverao{
        width: 3%;
        height:3900px;
        text-align: justify;
        font-family: 'Arial';
        margin-top:0%;
        margin-left:0%;
        align-items: center;
        padding: 0%;}
    
}